In [1]:
number1 = 99

In [2]:
number2 = 22

In [3]:
number1, number2 = (number2, number1)

In [4]:
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

In [5]:
colors = ['red', 'orange', 'yellow']

In [6]:
list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [7]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [8]:
for index, color in enumerate(colors):
    print(f'{index}: {color}')

0: red
1: orange
2: yellow

In [9]:
high_low = ('Monday', 23, 12)

In [10]:
high_low

('Monday', 23, 12)

In [16]:
high_low_list = []

In [17]:
high_low_list += high_low

In [18]:
high_low_list

['Monday', 23, 12]

In [19]:
day, high, _ = high_low

In [20]:
day

'Monday'

In [21]:
high

23

In [22]:
names = ['Amanda', 'Sam', 'David']

In [23]:
for i, name in enumerate(names):
    print(f'{i}: {name}')

0: Amanda
1: Sam
2: David

In [24]:
numbers = [2,3,5,7,11,13,17,19]

In [25]:
numbers[::2] = [100,100,100,100]

In [26]:
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [27]:
id(numbers)

140426456789056

In [28]:
numbers[:] =[]

In [29]:
id(numbers)

140426456789056

In [30]:
numbers = []

In [31]:
id(numbers)

140426456461376

In [80]:
numbers = list(range(1,16)) # [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [81]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [82]:
numbers[1:len(numbers):2]

[2, 4, 6, 8, 10, 12, 14]

In [83]:
numbers[1::2]

[2, 4, 6, 8, 10, 12, 14]

In [85]:
numbers[5:10] = [0] * len(numbers[5:10])

In [86]:
numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]

In [87]:
numbers[5:10] = [0,0,0,0,0]

In [88]:
numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]

In [89]:
numbers[5:] = []

In [90]:
numbers

[1, 2, 3, 4, 5]

In [91]:
numbers[:] = []

In [78]:
numbers

[]

In [92]:
numbers = list(range(10))

In [93]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
del numbers[-1]

In [95]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [96]:
del numbers[0:2]

In [97]:
numbers

[2, 3, 4, 5, 6, 7, 8]

In [98]:
del numbers[::2]

In [99]:
numbers

[3, 5, 7]

In [100]:
del numbers[:]

In [101]:
numbers

[]

In [102]:
del numbers

In [103]:
numbers

NameError: name 'numbers' is not defined

In [108]:
numbers = list(range(1,16))

In [109]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [110]:
del numbers[0:4]

In [111]:
numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [112]:
del numbers[0::2]

In [113]:
numbers

[6, 8, 10, 12, 14]

In [114]:
def modify_elements(items):
    """Multiplies all elements values in items by 2"""
    for i in range(len(items)):
        items[i] *= 2

In [115]:
modify_elements(numbers)

In [116]:
numbers

[12, 16, 20, 24, 28]

In [117]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

In [118]:
foods.sort()

In [119]:
foods

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

# Decorators

In [120]:
def my_decorator(original_func):
    
    def wrapper():
        print("Do a thing before")
        
        original_func()
        
        print("Do a thing after")
    
    return wrapper

In [121]:
@my_decorator
def greeting():
    print("HELLO WORLD")

In [122]:
greeting()

Do a thing before
HELLO WORLD
Do a thing after

In [123]:
new_greeting = my_decorator(greeting)

In [124]:
new_greeting()

Do a thing before
Do a thing before
HELLO WORLD
Do a thing after
Do a thing after

In [125]:
def add_stuff(original_function):
    
    
    def function_wrappper():
        value = original_function()
        print(f'The original value was: {value}')
        value = value**2
        print(f'The original value was: {value}')
        return value
    
    return function_wrappper

In [126]:
@add_stuff
def pie():
    return 3.14

In [128]:
pi_times_pi = pie()

The original value was: 3.14
The original value was: 9.8596

In [129]:
pi_times_pi

9.8596

# Python Generators

In [130]:
def my_generator():
    yield "something"

In [131]:
range(0,100)

range(0, 100)

In [132]:
def times_four(n):
    result = []
    for x in range(n):
        result.append(x*4)
    return result

In [136]:
numbers = times_four(10)

In [137]:
print(numbers)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [138]:
def times_four(n):
    for x in range(n):
        yield x*4

In [139]:
times_four(5)

In [140]:
for num in times_four(10):
    print(num)

0
4
8
12
16
20
24
28
32
36

# Next and Iter

In [141]:
def simple_generator(n):
    for num in range(n):
        yield num

In [142]:
gen = simple_generator(3)

In [143]:
print(next(gen))

0

In [144]:
print(next(gen))

1

In [145]:
print(next(gen))

2

In [146]:
word = "Python"
for letter in word:
    yield letter

SyntaxError: 'yield' outside function (<ipython-input-146-ee8f62b8d0eb>, line 3)